body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(55, 97, 61);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 178, 178);
    height: 30vh;
    width: 70vw;

    border-radius: 12px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.183);
}

section p {
    font-size: 80px;
}

.pausado {
    color: rgba(119, 0, 0, 0.904);
}
